# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.sqlite3
*.log

# Virtual environment
venv/
env/
.venv/

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

# Pytest / coverage
htmlcov/
.coverage
.pytest_cache/

# Byte-compiled / compiled files
*.pyc
